<h1>New Heroe <small>fdsfds</small></h1>

<div fxLayout="row" fxLayoutGap="40px">
  <div fxFlex="50" fxLayout="column">
    <div fxLayoutGap="20px">
      <mat-form-field fxFlex="100">
        <mat-label>Super Hero</mat-label>
        <input matInput
               type="text"
               required>
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Alter Ego</mat-label>
        <input matInput
               type="text"
               required>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>First Apparition</mat-label>
      <input matInput
             type="text"
             required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Characters</mat-label>
      <input matInput
             type="text"
             required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Creator</mat-label>
      <mat-select>
        <mat-option
          *ngFor="let publisher of publishers"
          [value]="publisher.id">
          {{ publisher.id }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Url Image</mat-label>
      <input matInput
             type="url"
             required>
    </mat-form-field>
    <br/>
    <button mat-raised-button color="primary">
      <mat-icon>edit</mat-icon>
      Save
    </button>
  </div>
  <div fxFlex="50">
    <img [src]="heroe | imagen">
  </div>
</div>
